@import 'base';

.card {
  composes: card from 'css/Counter';
  margin-top: 24px;
}

.title {
  composes: title from 'css/Counter';
}

.warning {
  text-align: center;
}

.stats {
  width: 100%;
}

.stat {
  display: flex;
  align-items: center;
  padding: 4px 0;

  &:not(:last-child) { border-bottom: 1px solid color(var(--background) l(- 20%)); }
}

.value {
  text-align: right;
  padding-right: 12px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 40%;

  flex: 0.8;
  @mixin break 340 { flex: 1.2; }

  font-size: 24px;
  @mixin break 385 { font-size: 36px; }
  @mixin break 600 { font-size: 48px; }
}

.label {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  flex: 2;

  font-size: 14px;
  @mixin break 385 { font-size: 16px; }
  @mixin break 600 { font-size: 18px; }
}
