@import 'base';

:global {
  body, #root {
    background: var(--background);
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 300px;
    max-width: 100vw;
  }

  html, body, h1, h2, h3, h4, h5, h6, a, p, blockquote {
    margin: 0;
    padding: 0;
  }
}

.app {
  @mixin colorize color;
}
