@import 'base';

.card {
  composes: _card;
}

.title {
  composes: _card_title;
  @mixin flex-block row, space-between;
}

.icon {
  composes: _hoverable;
  width: 40px;
}

.left {
  composes: icon;
}

.right {
  composes: icon;
}

.date {
}

.count {
  font-size: 72px;
  color: color(var(--text) l(- 20%));
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 0;
  box-sizing: border-box;

  * { -webkit-tap-highlight-color: rgba(0,0,0,0); }
}

.decrement {
  composes: _line_button;
  width: 132px;
  padding: 16px 24px;
  box-sizing: border-box;
  margin-right: 6px;
  font-size: 20px;
}

.increment {
  composes: _button;
  width: 132px;
  padding: 16px 24px;
  box-sizing: border-box;
  margin-left: 6px;
  font-size: 20px;
}

.minus {
  height: 24px;
}

.plus {
  height: 24px;
}
