@import 'base';

.card {
  composes: _card;
  margin-top: 24px;
}

.title {
  composes: _card_title;
}

.day {
  composes: stat from 'css/Analytics';
  width: 100%;
}

.count {
  composes: value from 'css/Analytics';
}

.dates {
  composes: label from 'css/Analytics';
}

.formatted {
}

.relative {
  color: var(--text);
  font-style: italic;
}
