@import 'base';

.content {
  padding-top: 140px;
  background: var(--grey);
  @mixin vh min-height, 100;

  transition: all 0.3s ease;
  @mixin break 675 {
    padding: 24px 48px 0 300px;
    background: var(--white);
  }
}
