@import 'base';

.content {
  padding-top: 126px;
  background: var(--grey);

  transition: all 0.3s ease;
  @mixin break 600 {
    padding-top: 24px;
    padding-left: 300px;
    background: var(--white);
  }
}
