@import 'base';

.container {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 60px;

  @mixin flex-block row, space-between;

  @mixin break 500 {
    padding: 12px;
    height: 60px;
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 50px;
  margin-right: 16px;
  font-size: 80%;

  @mixin break 500 { width: 70px; }
}

.text {
  letter-spacing: 2px;
  font-size: 20px;
  padding-bottom: 6px;

  @mixin colorize color;

  @mixin break 500 {
    letter-spacing: 4px;
    font-size: 30px;
  }
}

.button {
  composes: _line_button;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 12px 12px;

  @mixin break 500 { padding: 12px 24px; }
}
