@import 'base';

.container {
  @mixin flex-block row, flex-start, flex-start;
  margin-bottom: 24px;
}

.card {
  composes: card from './TodayTimeline';
  @mixin flex-block;
  max-width: 300px;
}

.count {
  font-size: 28px;
  padding: 12px;
  padding-left: 24px;
}

.transition {
  flex: 1;
  position: relative;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @mixin flex-block;
}

.edit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @mixin flex-block;
}

.label {
  @mixin font Cabin;
  color: #0005;
  transition: all 0.2s ease;
  flex: 2;
  opacity: 0.4;
}

.icon {
  flex: 1;
  transition: all 0.2s ease;
  height: 16px;
}

.pencil {
  composes: icon;
  color: #0005;
  opacity: 0.4;
  padding-bottom: 4px;
}

.minus {
  composes: icon;

}

.plus {
  composes: icon;
}

.check {
  composes: icon;
}

.close {
  composes: icon;
}

.star {
  width: 36px;
}
