@import 'base';

.title {
  composes: _card_title;
}

.card {
  composes: _card;
}

.content {
  width: 80%;
}

.email {
  composes: _input_with_icon;
  width: 100%;
}

.password {
  composes: _input_with_icon;
  width: 100%;
}

.actions {
  width: 100%;
  text-align: center;
}

.sign-up {
  composes: _button;
  padding: 12px;
  margin-bottom: 12px;
}

.sign-in {
  composes: _button;
  padding: 12px;
  margin-bottom: 12px;
}

.switch {
  &, &:hover, &:active { @mixin colorize color; }
}

.forgot-password {
  composes: _hoverable;
  composes: switch;
  display: block;
  margin-top: 12px;
  text-decoration: underline;
}
