@import 'base';

.container {
  text-align: center;
  padding: 144px 24px 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: color(var(--text) l(- 20%));
}

.subtitle {
  font-size: 20px;
  margin: 20px auto 32px;
  color: var(--text);
}

.sign-up {
  composes: _button;
  padding: 16px;
  font-size: 16px;
  width: 120px;
  margin: 0 auto;
}
